<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <springProperty name="logging.path" source="logging.path"
                    defaultValue="/var/log/engati/data-analytics-engine"/>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"data-analytics-engine","log_type":"app"}</customFields>
            <timeZone>UTC</timeZone>

        </encoder>
    </appender>

    <appender name="dailyRollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.path}/data-analytics-engine.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${logging.path}/data-analytics-engine.%d{dd-MM-yyyy}.log.gz</FileNamePattern>

            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>100mb</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"data-analytics-engine","log_type":"app"}</customFields>
            <timeZone>UTC</timeZone>

        </encoder>
    </appender>

    <logger name="org.springframework.boot.actuate" level="WARN" additivity="false">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </logger>

    <logger name="com.engati" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>

</configuration>